{% extends "layouts/layout.html" %} {% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }} {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.name(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.research_subject.label(class="form-control-label") }} {% if form.research_subject.errors %}
                {{ form.research_subject(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.research_subject.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.research_subject(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.survey_link.label(class="form-control-label") }} {% if form.survey_link.errors %}
                {{ form.survey_link(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.survey_link.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.survey_link(class="form-control form-control-lg") }} {% endif %}
            </div>
            <div class="form-group">
                    {{ form.grade.label(class="form-control-label") }} {% if form.grade.errors %}
                    {{ form.grade(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.grade.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.grade(class="form-control form-control-lg") }} {% endif %}
                </div>
                <div class="form-group">
                    {{ form.province.label(class="form-control-label") }} {% if form.province.errors %}
                    {{ form.province(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.province.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.province(class="form-control form-control-lg") }} {% endif %}
                </div>
                <div class="form-group">
                    {{ form.level.label(class="form-control-label") }} {% if form.level.errors %}
                    {{ form.level(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.level.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{ form.level(class="form-control form-control-lg") }} {% endif %}
                </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-success") }}
        </div>
    </form>
</div>
{% endblock content %}