{% extends "layouts/layout.html" %} {% block content %}
<article class="media content-section text-center">
    <div class="card border-primary mb-3" style="width: 100%;">
        <div class="card-header">عنون البحث : {{ research.name }}</div>
        <div class="card-body text-primary">
            <h5 class="card-title"> للباحث : {{ owner.full_name }}</h5>
            <p class="card-text"> فكرة البحث : {{ research.research_subject }}</p>
            <ul class="list-group">
                <li class="list-group-item"> موجه لطلاب المرحلة :  {{ research.grade }}</li>
                <li class="list-group-item"> في منطقة :  {{ research.province }}</li>
                <li class="list-group-item"> مستوى الطلاب فوق: :  {{ research.level }}</li>
            </ul>
            <a href="{{ ''.join(['http://', research.survey_link]) }}" class="btn btn-primary float-right">أجري
                الإستبيان</a>
        </div>
    </div>
</article>
{% endblock content%}