<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/" style="font-size: 2rem;">وسيط <span><img style="width: 50px;" src="{{ url_for('static', filename= 'images/main-icon.png') }}" alt=""></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ url_for('home') }}">الرئيسية</a>
                        {% if not products %}<a class="nav-item nav-link" href="{{ url_for('products') }}">المنتجات</a>{% endif %}
                        <a class="nav-item nav-link" href="{{ url_for('upload') }}">ارفع منتج</a>
                        <a class="nav-item nav-link" href="{{ url_for('profile') }}">الملف الشخصي</a>
                    {% if current_user.is_authenticated: %}
                    
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">سجل خروج</a>{% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>